# WIM Python Workshop: Introduction to Python

* Date: Oct 20th, 2023
* Instructor: Eehyun Kim (eehkim@iu.edu), Anne Kavalerchik (akavaler@iu.edu)

## 1. Writing Your First Python Program

Let's start by creating a simple "Hello, World!" program! You can run the codes in a cell by clicking "|> Run", "Command + Enter/Return" (Mac), or "Ctrl + Enter" (Window).

In [ ]:
print("Hello, World!")

### Exercise 1. Print your name.

In [ ]:
# Your answer comes here:
print("Eehyun Kim")

## 2. Variables and Data Types
Python supports various data types, including:

* int: Integers (e.g., 5, -10)
* float: Floating-point numbers (e.g., 3.14, -0.5)
* str: Strings (e.g., "Hello, World!")
* bool: Booleans (True or False)

In [ ]:
a = 398502
b = "I need more coffee."
c = True
d = 50.4972

#print(type(a))
#print(type(b))
#print(type(c))

### Exercise 2. What are their types? Explore more.

In [ ]:
a = int("10.0")

"Oh, ValueError: invalid literal for int() with base 10: '10.0' happens! How can I deal with it?"

In [ ]:
a = int(float("10.0"))
print(int(float("10.5"))) # enforcing float into integer

c = str(10)
d = None

print(type(a))
print(type(c))
print(type(d))

## 3. Basic Operations: Utilizing data types
Python allows you to perform various operations, such as arithmetic, string manipulation, and comparisons.

* Arithmetic: result = 5 + 4 + 2.4, 8 * 7, 8 % 5, 8 // 5
* String concatenation: full_name = "Taylor" + " " + "Swift"
* Comparison: 1990 == 1995, 1995 >= 2006, "Taylor" == "taylor"

In [ ]:
# Arithmetic
print("5 + 4 + 2.4 =", 5 + 4 + 2.4)
print("8 * 7 =", 8 * 7)
print("8 * 7 =", 8 * 7)
print("8 % 7 =", 8 % 5)
print("8 // 7 =", 8 // 5)
print("")

# Comparison
print("Taylor" + " " + "Swift")
print("1990 == 1995:", 1990 == 1995)
print("\"Taylor\" == \"taylor\":", "Taylor" == "taylor")
print("\"Bois\" in \"W. E. B Du Bois\":", "Bois" in "W. E. B Du Bois")

## 4. More data types

### List
Lists are ordered collections of items enclosed in square brackets [ ]. They can hold elements of different data types.

* fruits = ["apple", "banana", "cherry"]
* row = ["Amy", 25, "student", "US", 5.5]

### Dictionary (dict)

Dictionaries are collections of key-value pairs enclosed in curly braces { }. They are used for mapping keys to values and are unordered.

* respondent = {"name": "Amy", "age": 25, "job": "student", "citizenship": "US", "height": 5.5}

In [ ]:
fruits = ["apple", "banana", "cherry"]
row = ["Amy", 25, "student", "US", 5.5]
respondent = {"name": "Amy", "age": 25, "job": "student", "citizenship": "US", "height": 5.5}

print(type(fruits))
print(row)
print(respondent)

## 5. Conditional Statements
You can use if, elif, and else statements for decision-making. Don't forget to put ':' to indicate the end of the statement.

### Tip. Indentation (four spaces, or tab)
indentation is a fundamental aspect of the language's syntax and is used to define blocks of code. Python relies on consistent and meaningful indentation to indicate the grouping and nesting of statements within functions, loops, conditionals, and other control structures. If you don't keep the rule, "IndentationError: unexpected indent" happens.

In [ ]:
text = "Indentation matters!"
    print(text)

In [ ]:
# Let's move forward to Conditional Statements.

score = 85

if score > 90:
    print("You got A grade.")
elif score > 80:
    print("You got B grade.")
else:
    print("You got C grade.")

### Another example: Drinking age

In [ ]:
user_age = int(input("Enter your age: "))

# Define the legal drinking age in Indiana
legal_drinking_age = 21

# Check if the user is of legal drinking age
if user_age >= legal_drinking_age:
    print("You are of legal drinking age in Indiana. Enjoy responsibly!")
else:
    print("Sorry, you are not of legal drinking age in Indiana. Wait a few more years!")

### Exercise 3: Rollercoaster Height Restriction
We'll write a Python program that checks if a person meets the height requirement to ride a rollercoaster. Replace the line [] to complete the code.

In [ ]:
# Get the user's height as input (in feet)
user_height = float(input("Enter your height (in feet): "))

# Define the minimum height requirement for the rollercoaster
min_height_requirement = 4.0

# Check if the user meets the height requirement
if user_height >= min_height_requirement:
    print("You meet the height requirement to ride the rollercoaster. Enjoy the thrill!")
else:
    print("Sorry, you do not meet the height requirement to ride the rollercoaster. You must be at least 4 feet tall.")

## 6. Loops (for)
A loop is a concept that allows you to execute a block of code repeatedly. Python supports for and while loops for repetition, but we will focus on 'for', which is commonly used to iterate over sequences like lists, strings, and ranges.

In [ ]:
afc_teams_north = ["Baltimore Ravens, Cincinnati Bengals, Cleveland Browns, Pittsburgh Steelers"]
for team in afc_teams_north:
    print(team)
    
for a in afc_teams_north:
    print(a)
    
# the naming of the element (team or a) doesn't matter for loops

### Example:
How can you iterate from 1 to 10?
***
****Number 1.****

    for a in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
        print(a)

****Number 2.****

    for a in range(1, 10+1): # start=1, end=11; start <= number < end
        print(a)

****Number 3.****

    for a in range(10): # start=0, end=10; start <= number < end
        print(a+1)
        
****Number 4.****
[Advanced] List comprehension: 

    [a+1 for a in range(10)]

In [ ]:
for a in range(1, 10+1):
    print(a)

In [ ]:
for a in range(10): # start=0, end=10; start <= number < end
    print(a+1)

In [ ]:
[a+1 for a in range(10)]

In [ ]:
print("Printing every third number from a list of numbers:")
for a in range(0, 10, 3): # start=0, end=10, incrementing the index by 3
    print(a)

print("\nPrinting every fourth number from a list of numbers:")
for b in range(2, 12, 4): # start=2, end=12, incrementing the index by 4
    print(b)

### Exercise 4: Defining Your Favorite Movies and Printing Them
We'll list your favorite movies (at least three) and print them one by one.

In [ ]:
#favorite_movies = ["The Shawshank Redemption", "The Godfather"]
favorite_movies = ["The Shawshank Redemption", "The Godfather"]

print("My Favorite Movies:")
for movie in favorite_movies:
    print(movie)

## 7. Further Exploration: List manipuation

### List Length
The length of a list is the number of elements it contains. To find the length of a list, you can use the len() function.
* length = len(my_list)

### Indexing and Slicing
* Indexing: Each element in a list has a position, or index, starting from 0. You can access individual elements using square brackets [].
* Slicing: Slicing allows you to extract a portion of a list by specifying a range of indices. The syntax is [start:end], where start is inclusive, and end is exclusive.
    
### Common List Methods
* There are a lot of fundamental methods, including append(), remove(), pop(), join(), and so on.
* Focusing on data analysis, we will learn split(), strip(), and sort()
** split() is used to split a string into a list of substrings based on a specified delimiter
** strip() is used to remove leading and trailing whitespace (spaces, tabs, and newline characters) from a string
** sort() is used to sort the elements of a list in ascending order (from the lowest to the highest value)

Let's learn from the example!

In [ ]:
bridgerton_text = "Daphne Bridgerton, Lady Whistledown, Lady Danbury, Simon Basset, Eloise Bridgerton, Penelope Featherington, Benedict Bridgerton, Lady Violet Bridgerton, Edwina Sharma, Colin Bridgerton, Francesca Bridgerton, Brimsley"

print("Bridgerton Main Characters:", bridgerton_text)

In [ ]:
# Split the 'bridgerton_text' string into a list using ", " (comma and space) as the separator.
bridgerton_characters = bridgerton_text.split(", ")

# Calculate and print the number of characters in the 'bridgerton_characters' list.
print("Number of Characters:", len(bridgerton_characters))

In [ ]:
# Print the first three characters from the list.
print("Up to 3 characters:", bridgerton_characters[0:3])
print("")

# Filter the list to include only names containing the word "Lady."
print("Ladies:")
for name in bridgerton_characters:
    if "Lady" in name:
        print(name)
print("")

bridgerton_characters.sort()
print("Alphabetically ordered:", bridgerton_characters)

### Exercise 5. Print out the avengers with "Man" in their nicknames.

In [ ]:
avengers = ["Hulk", "Captain America", "Iron Man", "Thor", "Black Panther", "Spider-Man", "Natasha Romanoff"]

for avenger in avengers:
    if "Man" in avenger:
        print(avenger)